In [2]:
name = "Athulya"
age = 22
print("Hello,", name, "you are", age, "years old.")

Hello, Athulya you are 22 years old.

In [5]:
def add(a, b):
    return a + b

print(add(10, 5))

15

In [6]:
income = 50000
if income > 40000:
    print("Above average income")
else:
    print("Below average income")

Above average income

In [7]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd